.cart-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-info h2 {
    font-size: 3rem;
    margin: 0;
    font-family: 'BasBasement';
}

.subtitle-item {
    font-size: 1.5rem;
    margin: 0;
    color:#999999;
}
/* quantity */
.cart-count {
    display: flex;
    flex-direction: column;
}



/* cart size details */
.cart-details {
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
}

.cart-details ul {
    list-style: none;
    display: flex;
    margin-left: 0.5rem;
}

.cart-details-size {
    display: flex;
    align-items: center;
}

.cart-price, .cart-details-size p {
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .cart-info {
        margin-left: 1rem;
        padding: 0.5rem;
    }
    .cart-info h2 {
        font-size: 1.4rem;
    }
    .subtitle-item {
        font-size: 1.1rem;
    }    
    .cart-details-size p {
        font-size: 1.1rem;
    }
    .cart-price {
        font-size: 1.1rem;
    }
}

