.modal-cart {
    background:black;
    border:1px solid white;
    position: absolute;
    width: 55rem;
    min-height: 40rem;
    padding-bottom: 10rem;
    top: 0;
    right: 0;
    z-index: 100;
}

.modal-btn {
    position: absolute;
    background:none;
    width: 9rem;
    right: 10px;
    color:white;
    outline: none;
    border:none;
    top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'BasBasement';
}

.modal-btn img {
    width:100%;
}

.cart-content {
    border: 1px solid white;
    width: 90%;
    margin: auto;
    height: 19rem;
    display: flex;
}

.cart-img {
    width:18rem;
    margin:1rem;
    text-align: center;
    background: linear-gradient(180deg, #1D1D1D 0%, rgba(21, 21, 21, 0) 100%);
}

.cart-img img {
    width: 15rem;
}

.cart-empty {
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .modal-cart {
        width: 100%;
    }
    .cart-content {
        height: 122px;
      
    }
   .cart-img {
       width: 8.5rem;
        
   } 
    .cart-img img {
         width: 100%;
    }
}

