
.header {
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 6rem;
}
.logo-desktop {
    display: block;
}

.logo-mobile {
    display: none;
}



@media screen and (max-width: 650px) {
    .logo-desktop {
        display: none;
    }
    .logo-mobile {
        display: block;
    }
    .hd-4k {
        display: none;
    }
}