.btn-cart {
    background:none;
    color:white;
    border:none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.9rem;
    border: 1px solid white;
    border-radius: 3rem;
    padding: 1rem;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .btn-cart {
        font-size: 1.4rem;
    }

    
}
