.banner {
    margin: auto;
    width: 100%;
}
.banner img {
    width: 100%;
}

.banner-text {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
   
}
.banner-text marquee {
    margin:0;
    font-size: 4.3rem;
}

@media screen and (max-width: 500px) {
    .banner-text marquee {
        font-size: 2rem;
    }
}